*{
    margin: 0%;
}
a{
    color: green;
}

a:hover{
    color: rgb(255, 0, 162);
    font-weight: bold;
}
.new1{
    font-size: 24px;
    color: blueviolet
}
#colorId{
    color: chartreuse;
}
dialog { 
    padding: 1.25rem; 
    border: 12px solid blue;
    border-radius: 12px; 
}
dialog::backdrop { background: rgba(9,136,85,0.5); }
.form-actions { 
    display:flex;
    gap:.5rem;
    margin-top:1rem; 
}